<h1>Lista de productos</h1>
<div>
        {{#each items}}
        <ul id={{this.title}}>
        <h2>ID:{{this.id}} | {{this.title}}</h2>
        <img src="{{this.thumbnail}}" style="width:150px; border:1px solid black; "alt="img/IMG_2640.png">
        <li>Descripcion: {{this.description}}</li>
        <li>Codigo: {{this.code}}</li>
        <li>Precio: ${{this.price}} </li>
        <li>categoria: {{this.category}}</li>
        </ul>
        </br>
        {{/each}}
</div>